language: ruby
sudo: false
dist: trusty
cache: bundler
rvm:
  - 2.4.4
addons:
  apt:
    packages:
      - vim-gtk
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "vim --version"
